:root {
  --color-black: #222831;
  --color-dark-grey: #393e46;
  --color-main: #00adb5;
  --color-main-darker: #12777c;
  --color-white: #eeeeee;
  // Sizing
  --vertical-spacing: 4rem;
  --number-size: 2.3rem;
  --opacity: 0.85;
}

header {
  text-align: center;
  background-color: var(--color-dark-grey);
  padding: 2rem;
  display: flex;
  place-content: center;
  place-items: center;
  color: var(--color-white);
  span {
    color: var(--color-main);
  }
  h1 {
    margin: 0;
    padding: 0;
  }
}

.App {
  text-align: center;
  padding: 3rem 1rem;
  background-image: linear-gradient(var(--color-white), #e7e7e7);
  color: var(--color-black);
  min-height: 100vh;
  overflow-x: auto;
  padding-bottom: 7.5rem;
}

.grid {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: var(--vertical-spacing) 1rem;
  max-width: 45rem;
  margin: 0 auto;

  .title-numbering {
    display: none;
    margin-right: 0.5rem;
    &::after {
      content: ".";
    }
  }

  @media screen and (max-width: 31rem) {
    grid-template-columns: auto;
    .number-guide {
      display: none;
    }
    .title-numbering {
      display: inline;
    }
  }
}

.section-body {
  display: flex;
  place-content: center;
  place-items: center;

  > *:not(:last-child) {
    margin-right: 2rem;
  }

  @media screen and (max-width: 45rem) {
    flex-direction: column;
    > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }

  > img {
    max-height: 8rem;
    max-width: 18rem;
    opacity: var(--opacity);
  }
}

.title,
.number {
  min-height: var(--number-size);
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.number,
.number-bar {
  position: relative;
  background-color: var(--color-dark-grey);
  border-radius: var(--number-size);
}
.number {
  width: var(--number-size);
  height: var(--number-size);
  color: var(--color-white);
  position: relative;
  z-index: 2;
}
.number-bar {
  height: calc(100% + var(--vertical-spacing));
  bottom: var(--number-size);
  width: 0.25rem;
  left: calc(0.4rem + calc(var(--number-size) / 2));
}

.field {
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem;
  font-size: 1.3rem;

  .input-group {
    display: flex;
    place-content: center;
    place-items: center;
  }

  input,
  .btn {
    font-size: 1.3rem;
    padding: 0.4rem;
    background-color: #e0e0e0;
    border: 1px solid gray;
    border-radius: 5px;
  }

  input {
    width: 10.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--color-black);
  }

  .btn {
    display: flex;
    place-content: center;
    place-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    cursor: pointer;

    img {
      transition: opacity 0.2s;
      opacity: 0.5;
    }
    &:hover {
      img {
        opacity: var(--opacity);
      }
    }
  }
}
.field:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* Simple elements */

a {
  color: var(--color-main);
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.2s;
  &:hover {
    color: var(--color-main-darker);
  }
}
