@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: #eee;
  color: #393e46;
  /* text-align: center;*/
  font-family: "Nunito";
}

/* SIZING */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  height: 90px;
  width: 100%;
}

main {
  flex: 1;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

/*HEADER*/
.header {
  /*position: fixed;*/
  top: 0;
  text-align: center;
  background-color: #393e46;
  color: #eee;
  text-align: center;
}
/*Navigation bar*/
.header nav {
  overflow: hidden;
  z-index: 99;
}
.header nav a {
  margin-top: 10px;
  margin-left: 12px;
  color: #eee;
  text-decoration: none;
}

.navbar-logo {
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}

.header nav .navbar-title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.header nav .navbar-title-dappnode {
  color: #2fbcb2;
  margin-left: 10px;
}

/*CONTENT*/

.home-intro {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}
.home {
  text-align: center;
}

.connect-content {
  margin-bottom: 40px;
  text-align: center;
}

.step-explanation {
  margin-top: 50px;
  text-align: center;
}

.vpn-step {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.vpn-step-content-text {
  text-align: start;
}

.step-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-content img {
  margin-right: 20px;
}

/* Help section */

h1.help-content {
  /* text-align: center; */
  font-size: 300%;
}

h2.help-content {
  /* text-align: center;*/
  font-size: 200%;
}

h3.help-content {
  /* text-align: center;*/
  font-size: 150%;
}

h4.help-content {
  /* text-align: center;*/
  font-size: 120%;
}
div.help-content {
  margin-top: 10px;
  margin-bottom: 40px;
}
div.help-section {
  margin-left: 11%;
  margin-right: 5%;
}

ul.help-content {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

/*FOOTER*/
.footer {
  bottom: 0;
  background-color: #393e46;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Links*/
.footer-links a {
  padding-left: 30px;
}

a {
  color: #2fbcb2;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*404 page*/
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
